* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-color: rgb(19, 18, 18);
    color: white;
    padding: 10px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 130px;
   
}

.topbanner{
  
    height: 38.5625px;
    border-bottom: .1px solid rgb(51, 51, 51);
    padding-bottom: 20px;
    margin-bottom: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.1px;
}
.line1{
     border-color: aliceblue;
    height: 22px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding:0;
    margin: 0;
}

.Headers{
    height: 30px;
    display: flex;
    align-items: center;       
    justify-content: space-between;  
    max-width: 1700px;
   
    padding: 29px 140px;
}
.left-group{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: auto;
}


.navigation{
    display: flex;
    gap: 30px;
    align-items: center;

}
.user{
    color: white;
    display: flex;
    align-items: center;       
    gap: 23px;   
    margin-left: auto;             
}

.Headers img{
   
    gap: 45px;
}
.nav{
    color: rgb(199, 194, 194);
    cursor: pointer;
    font-size: 15.5px;
    letter-spacing: 0.66px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    line-height: 19px;
   
}
.nav:hover{
    text-decoration: underline;
    color: white;
}


.product-grid{
    width:79%;
    margin: 120px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 15px;
    column-gap: 45px;
}
.product-grid img{
    width: 100%;
    height: auto;
    border-radius: 0px;
    object-fit: cover;
}
.photo{
    display: flex;
    justify-content: flex-start;
    padding-left: 145px;
}
.div3{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.founder{
    margin-top: 65px;
    margin-bottom: 50px;
    margin-left: 50px;
   
}
.founder h2{
   
    font-family: system_ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

}
.founder p{
    font-size: 19.8px;
    color: rgb(105, 103, 103);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.aboutus{
    background-color: black;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 20, 20);
    width:100%;
    height: 468px; 
} 

.contact{
        text-align: center;
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         height: 55%;
         
}
.contact-us{
    margin:5px;
    padding-top: 40px;
    height: 20px;
    color: rgb(250, 245, 245);
    font-size: 18px;
    
}

.contact-no{
    margin: 5px;
    padding-top: 40px;
    height: 20px;
    color: rgb(182, 186, 186);
    font-size: 17.6px;
    text-decoration: underline;
}
.contact-no:hover{
    color:white;
}
.insta-logo{
    margin: 30px;
}

.other-info{
  
   height: 25%;
    border-top: .05px solid rgb(58, 56, 56);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: 6px;
    color: rgb(202, 206, 206);
    display: flex;
    font-size: 12.1px;
    align-items: flex-start;
    padding-left: 170px;
    padding-top: 60px;
   
    width: 100%;
}
.other-info p{
    display: inline;
    margin: 0 09px;
}
.other-info p1:hover{
    color: white;
    text-decoration: underline;
}
.icon{

display: flex;
justify-content: center;
    color: white;
    padding-bottom: 20px;
    size: 30px;
    height:30%;

}
.icon:hover{
    color: white;
    text-indent: 2px;
}